.App {
  height: 100vh;
  display: flex;
  padding: 0 5rem 0 5rem;
}

.sidebar {
  width: 30%;
  margin:2rem auto;
  z-index: 10;
} 

.map {
  width: 100%;
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.dropdowns{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  background-color: #E8F0F2;
}

.parameter-select{
  margin-top: 1rem;
  width:20vw;
}

.chart {
  margin: 1rem;
}